.space-code{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 0px;
  background-color: #777777
}

.skin-blue .main-sidebar {
    background-color: #777777;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    background-color: #CBB051;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: #CBB051;
}

.skin-blue .main-header .logo {
    background-color: #CBB051;
}

.skin-blue .main-header .logo:hover {
    background-color: #CBB051;
}

.skin-blue .main-header .navbar {
    background-color: #777777;
}

#plot-container {
    position: relative;
}

#loading-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    margin-top: -33px;
    margin-left: -33px;
}

#plot.recalculating {
    z-index: -2;
}

.box {
    background-color: #777777;
    color: #CBB051;
}

.box-header {
    background-color: #CBB051;
    color: white;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 15px;
  height: 15px;
  /* background-color only for content */
  background-clip: content-box;
  border: 3px solid white;
  background-color: #e7e6e7;
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: #CBB051;
}

input[type="checkbox"] {
 -webkit-appearance:none;/* Hides the default checkbox style */
 height:15px;
 width:15px;
 cursor:pointer;
 position:relative;
 -webkit-transition: .15s;
 border-radius:2em;
 background-color:#900;
}

input[type="checkbox"]:checked {
 background-color:green;
}

input[type="checkbox"]:before, input[type="checkbox"]:checked:before {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 line-height:15px;
 text-align:center;
 color:#fff;
 content: '✘';
}

input[type="checkbox"]:checked:before {
 content: '✔';
}

input[type="checkbox"]:hover:before {
}

.box.box-solid.box-primary > .box-header{
    background-color: #CBB051;
    color: white;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: #CBB051;
    color: #777777;
}

.shiny-text-output{
  overflow-y:scroll !important;
  max-height: 400px !important;
}
